<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Console Agent" Language="1033" Version="1.0.0.0" Manufacturer="Sebastian Urban" UpgradeCode="0351af2a-2e17-4ba5-a329-7725fbb7d8c9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ConsoleAgent" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="System64Folder" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="System64Folder">
      
			<Component Id="ConsoleServer">
        <File Source="$(var.ConsoleServer.TargetPath)" Vital="yes" >
          <TypeLib Id="{B6EBFBF7-CD9F-4172-92F8-EE7D12CFC703}" Description="ConsoleServer" Language="0" MajorVersion="1" MinorVersion="0">
            <AppId Id="{DB55AB7A-9650-4E6C-8085-73F44D2485C9}" Description="ConsoleServer" LocalService="ConsoleServer" ServiceParameters="-Service">            
              <Class Id="{696511A9-45A2-4CFB-834F-CD134A7FFF5A}" Context="LocalServer32" Programmable="yes" Version="1.0" ></Class>
              <Class Id="{158AA083-89FF-48CD-9123-299FDB200B28}" Context="LocalServer32" Programmable="yes" Version="1.0" ></Class>
            </AppId>
          </TypeLib>        
        </File>
        <ServiceInstall Id="ConsoleServer_Service" Name="ConsoleServer" DisplayName="Console Agent" Description="Allows execution of processes on the console session from other sessions." Type="ownProcess" Start="demand" ErrorControl="ignore" Vital="yes" />        
        <ServiceControl Id="ConsoleServer_Service" Name="ConsoleServer" Stop="uninstall" Remove="uninstall" />
        <RegistryValue Root="HKCR" Key="AppID\ConsoleServer.exe" Name="AppID" 
                       Value="{DB55AB7A-9650-4E6C-8085-73F44D2485C9}" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="AppID\{DB55AB7A-9650-4E6C-8085-73F44D2485C9}" Name="AccessPermission"
                       Value="010004807000000080000000000000001400000002005C0004000000000014000300000001010000000000050B000000000014000700000001010000000000050A00000000001400030000000101000000000005120000000000180007000000010200000000000520000000200200000102000000000005200000002002000001020000000000052000000020020000"
                       Type="binary" Action="write" />
        <RegistryValue Root="HKCR" Key="AppID\{DB55AB7A-9650-4E6C-8085-73F44D2485C9}" Name="LaunchPermission"
                       Value="010004807000000080000000000000001400000002005C0004000000000014000B00000001010000000000050B000000000014001F000000010100000000000512000000000018001F00000001020000000000052000000020020000000014001F0000000101000000000005040000000102000000000005200000002002000001020000000000052000000020020000"
                       Type="binary" Action="write" />
      </Component>
      
      <Component Id="PrepareWindowStation" >
        <File Source="$(var.PrepareWindowStation.TargetPath)" Vital="yes" />
      </Component>
      
      <Component Id="OnConsole">
        <File Source="$(var.OnConsole.TargetPath)" Vital="yes" />
			</Component>
      
		</ComponentGroup>
	</Fragment>
</Wix>